[
{ID:1,ParentID:0,ParentIDList:"-0-1-",Name:"女神",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:10,ParentID:1,ParentIDList:"-0-1-10-",Name:"清新",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:11,ParentID:1,ParentIDList:"-0-1-11-",Name:"文艺",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:12,ParentID:1,ParentIDList:"-0-1-12-",Name:"森系",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},
{ID:13,ParentID:1,ParentIDList:"-0-1-13-",Name:"少女",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:14,ParentID:1,ParentIDList:"-0-1-14-",Name:"日系",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},

{ID:2,ParentID:0,ParentIDList:"-0-2-",Name:"萌宠",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:20,ParentID:2,ParentIDList:"-0-2-20-",Name:"猫",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:21,ParentID:2,ParentIDList:"-0-2-21-",Name:"狗",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:22,ParentID:2,ParentIDList:"-0-2-22-",Name:"兔子",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},
{ID:23,ParentID:2,ParentIDList:"-0-2-23-",Name:"宠物",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},

{ID:3,ParentID:0,ParentIDList:"-0-3-",Name:"旅行",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:30,ParentID:3,ParentIDList:"-0-3-30-",Name:"旅行微攻略",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:31,ParentID:3,ParentIDList:"-0-3-31-",Name:"美宿",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:32,ParentID:3,ParentIDList:"-0-3-32-",Name:"土耳其",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},
{ID:33,ParentID:3,ParentIDList:"-0-3-33-",Name:"澳大利亚",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:34,ParentID:3,ParentIDList:"-0-3-34-",Name:"斯里兰卡",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:35,ParentID:3,ParentIDList:"-0-3-35-",Name:"毛里求斯",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:36,ParentID:3,ParentIDList:"-0-3-36-",Name:"新西兰",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},

{ID:4,ParentID:0,ParentIDList:"-0-4-",Name:"摄影",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:40,ParentID:4,ParentIDList:"-0-4-40-",Name:"手机摄影",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:41,ParentID:4,ParentIDList:"-0-4-41-",Name:"胶片",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:42,ParentID:4,ParentIDList:"-0-4-42-",Name:"人物",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},
{ID:43,ParentID:4,ParentIDList:"-0-4-43-",Name:"风光",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:44,ParentID:4,ParentIDList:"-0-4-44-",Name:"黑白",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},

{ID:5,ParentID:0,ParentIDList:"-0-5-",Name:"男神",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:50,ParentID:5,ParentIDList:"-0-5-50-",Name:"男神",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},
{ID:51,ParentID:5,ParentIDList:"-0-5-51-",Name:"帅哥",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",Status:1,SortID:0},
{ID:52,ParentID:5,ParentIDList:"-0-5-52-",Name:"男朋友",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",Status:1,SortID:0},
{ID:53,ParentID:5,ParentIDList:"-0-5-53-",Name:"男生",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0},
{ID:54,ParentID:5,ParentIDList:"-0-5-54-",Name:"暖男",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",Status:1,SortID:0},

{ID:10000,ParentID:0,ParentIDList:"-0-10000-",Name:"其它",Summary:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",Status:1,SortID:0}
]