[
{ID:1,Name:"旅行",Cover:"http://139.224.51.196/images/Banner/banner.png","Link":"#"},
{ID:2,Name:"旅行",Cover:"http://139.224.51.196/images/Banner/banner.png","Link":"#"},
{ID:3,Name:"旅行",Cover:"http://139.224.51.196/images/Banner/banner.png","Link":"#"},
{ID:4,Name:"旅行",Cover:"http://139.224.51.196/images/Banner/banner.png","Link":"#"}
]