[
{ID:0,Name:"默认",Status:1,SortID:0,Music:[
{ID:0,Name:"无背景音乐",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""}]},

{ID:1,Name:"曾经的非主流",Status:1,SortID:0,Music:[
{ID:10,Name:"土耳其进行曲",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:11,Name:"斗牛士进行曲",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:12,Name:"菊次郎的夏天",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""},
{ID:13,Name:"春之声圆舞曲",Author:"",Cover:"http://www.dcloud.io/hellomui/images/4.jpg",FileUrl:""},
{ID:14,Name:"雨中漫步",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""}]},

{ID:2,Name:"动漫ACG",Status:1,SortID:0,Music:[
{ID:20,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:21,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:22,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:3,Name:"恶搞",Status:1,SortID:0,Music:[
{ID:30,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:31,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:32,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:4,Name:"古风",Status:1,SortID:0,Music:[
{ID:40,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:41,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:42,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:5,Name:"怀旧",Status:1,SortID:0,Music:[
{ID:50,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:51,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:52,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:6,Name:"欢快",Status:1,SortID:0,Music:[
{ID:60,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:61,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:62,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:7,Name:"浪漫",Status:1,SortID:0,Music:[
{ID:70,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:71,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:72,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:8,Name:"另类",Status:1,SortID:0,Music:[
{ID:80,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:81,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:82,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:9,Name:"燃曲",Status:1,SortID:0,Music:[
{ID:90,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:91,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:92,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:10,Name:"伤感",Status:1,SortID:0,Music:[
{ID:100,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:101,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:102,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]},

{ID:11,Name:"粤语",Status:1,SortID:0,Music:[
{ID:110,Name:"清晨",Author:"",Cover:"http://www.dcloud.io/hellomui/images/1.jpg",FileUrl:""},
{ID:111,Name:"初雪",Author:"",Cover:"http://www.dcloud.io/hellomui/images/2.jpg",FileUrl:""},
{ID:112,Name:"卡农",Author:"",Cover:"http://www.dcloud.io/hellomui/images/3.jpg",FileUrl:""}]}
]