[
{ID:1,TemplateType:0,Name:"纯白",MarginTop:"2rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/0.jpg",Cover:"Source/temp/0.jpg"},
{ID:2,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/1_0.png",Cover:"Source/temp/1.jpg"},
{ID:3,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/2_0.png",Cover:"Source/temp/2.jpg"},
{ID:4,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/3_0.png",Cover:"Source/temp/3.jpg"},
{ID:5,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/4_0.png",Cover:"Source/temp/4.jpg"},
{ID:6,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/5_0.png",Cover:"Source/temp/5.jpg"},
{ID:7,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/6_0.png",Cover:"Source/temp/6.jpg"},
{ID:8,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/7_0.png",Cover:"Source/temp/7.jpg"},
{ID:9,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/8_0.png",Cover:"Source/temp/8.jpg"},
{ID:10,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/9_0.png",Cover:"Source/temp/9.jpg"},
{ID:11,TemplateType:1,Name:"纯白",MarginTop:"2rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/10_0.png",Cover:"Source/temp/10.jpg"},
{ID:12,TemplateType:1,Name:"纯白",MarginTop:"2rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/11_0.png",Cover:"Source/temp/11.jpg"},
{ID:13,TemplateType:1,Name:"纯白",MarginTop:"8rem",TitleColor:"#007aff",ThumbUrl:"Source/temp/12_0.png",Cover:"Source/temp/12.jpg"}
]