[
{ID:2,TemplateType:1,Background:"#e6d6b2",ThumbUrl:"Images/Source/Template/02-2.jpg",Cover:"Images/Source/Template/02-1.jpg"},
{ID:3,TemplateType:1,Background:"#e6b2b2",ThumbUrl:"Images/Source/Template/03-2.jpg",Cover:"Images/Source/Template/03-1.jpg"},
{ID:4,TemplateType:1,Background:"#faf4e4",ThumbUrl:"Images/Source/Template/04-2.jpg",Cover:"Images/Source/Template/04-1.jpg"},
{ID:5,TemplateType:1,Background:"#d9d980",ThumbUrl:"Images/Source/Template/05-2.jpg",Cover:"Images/Source/Template/05-1.jpg"},
{ID:6,TemplateType:1,Background:"#bebebe",ThumbUrl:"Images/Source/Template/06-2.jpg",Cover:"Images/Source/Template/06-1.jpg"},
]