<?xml version="1.0" encoding="utf-8" ?>
<config>
  <items>
    <!--缩略图配置文件（配置方式：生成缩略图的方式,宽,高）-->
    <!--指定宽高：HW,100,100-->
    <!--指定宽,高按比例：W,100,0-->
    <!--指定高,宽按比例：H,0,100-->
    <!--指定宽高裁减（不变形）：Cut,100,100-->

    <item code="UserAvatar" savePath="~/Upload/Images/UserAvatar/" thumb="Cut,100,100|Cut,150,150" desc="用户头像" />

    <item code="UserCover" savePath="~/Upload/Images/UserCover/" thumb="Cut,480,480|W,480,0" desc="用户封面" />

    <item code="Article" savePath="~/Upload/Images/Article/" thumb="W,480,0|Cut,480,480" desc="文章" />

    <item code="ArticleCover" savePath="~/Upload/Images/ArticleCover/" thumb="W,480,0|Cut,480,480" desc="文章封面" />

  </items>
</config>