<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.10.141.78;Initial Catalog=mynew;Persist Security Info=True;User ID=root;Password=action" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--默认管理员账号-->
    <add key="admin_name" value="admin"/>
    <add key="admin_password" value="123456"/>
    <add key="base_url" value="http://localhost/"/>
    <add key="curr_android_version" value="2.0"/>
    <add key="curr_ios_version" value="2.0"/>
    <add key="curr_android_url" value="2.0"/>
    <add key="curr_ios_url" value="2.0"/>
    <add key="curr_version_remark" value="1、优化样式\n2、优化逻辑"/>
    <add key="apikey" value="9bcb129f30575c11f6efb38a180edec8"/>
    <add key="share_url" value="http://localhost/"/>
    <add key="MusicIndex" value="450002432"/>
    <!--短信发送地址-->
    <add key="usesms" value="0"/>
    <add key="smsip" value="api.rcscloud.cn"/>
    <add key="smsport" value="8030"/>
    <add key="smsuser" value="ZH000000193"/>
    <add key="smspwd" value="e4a1d136-9815-4ca7-a35c-985cc09c042f"/>
    <add key="defaultTemplate" value="9c6c24d7b0cd417780f2ef71ac36615d"/>
    <add key="findpwdsmsTemplate" value="9c6c24d7b0cd417780f2ef71ac36615d"/>
    <add key="regsmsTemplate" value="9c6c24d7b0cd417780f2ef71ac36615d"/>
    <add key="bindphoneTemplate" value="9c6c24d7b0cd417780f2ef71ac36615d"/>
    <add key="defaultsms" value="您正在手机验证信息，验证码{0}，请在15分钟内按页面提示提交验证码，切勿将验证码泄露于他人。"/>
    <add key="findpwdsms" value="[Go]找回密码验证码{0}"/>
    <add key="regsms" value="[Go]用户注册验证码{0}"/>
    <!--微信支付-->
    <add key="wxappid" value="wxbf415b2a2d7f5af2"/>
    <add key="wxapppartner" value="1433821002"/>
    <add key="wxapppartnerkey" value="463e9c33de5b4ce698c72c7cad6eb846"/>
    <!--喜马拉雅-->
    <add key="appkey" value="dced58ab496c517247889c50cc7587b9"/>
    <add key="appsecret" value="fedaadb450e71736b510d1b2d869f38d"/>
    <!--提现金额-->
    <add key="applymoney" value="300"/>
    <!--推送-->
    <add key="APPID" value="Z2BVMC4pXJ9RKhk8tOpp61"/>
    <add key="APPKEY" value="t8uxXtZgS96n5ZjNvbtHe"/>
    <add key="MASTERSECRET" value="eCG1n9pz516ek7RYk5Tum1"/>
    <!--当前同步Redis music ID范围-->
    <add key="startmusic" value="1"/>
    <add key="endmusic" value="12415821"/>
    <add key="records" value="12415821"/>
    <add key="load" value="http://music.163.com/api/song/detail?ids=%5B123456%5D"/>
    <!--支持跨域请求-->
    <add key="origins" value="http://localhost:9012,http://192.168.1.108:9012"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--请求长度限制50M-->
    <httpRuntime maxRequestLength="52428800" executionTimeout="36000" delayNotificationTimeout="36000"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>